

    

body {
    background-color:rgb(21, 20, 20);
    position: relative;
    overflow: hidden;
}
.backgroundImage {
    position: absolute;
    top:-4px;
    left:-8px;
    height: 100vh;
    min-width: 102vw;
    opacity: 0.2;
}

.sJaLogo{
    position: absolute; 
    top: 19px;
    left: 40px;
    height: 115px;
    width: 293px;
}