

    

body {
    background-color:rgb(21, 20, 20);
    position: relative;
    overflow-x: hidden;
    padding-bottom:300px;
}
.backgroundImage {
    position: fixed;
    top:-4px;
    left:-8px;
    height: 100vh;
    min-width: 102vw;
    opacity: 0.2;
}

.sJaLogo{
    position: absolute; 
    top: 20px;
    left: 44px;
    height: 116px;
    width: 305px;
}

#inputs{
    position: absolute;
    top: 400px;
}

.firstP{
    font-size: 21px;
    font-family: Helvetica;
    color: white;
    font-weight: 600;
    letter-spacing: 8.4px;
    margin-bottom: 10px;

}

.secondP{
    font-family: Helvetica;
    font-weight: 200;
    font-size: 10px;
    color: #82DFF4;
    letter-spacing: 6.5px;


}

.form-control{
    background-color:#151414!important;
    color: rgb(238, 223, 223)!important;
    text-align: center;
    width: 405px;
    height: 61px;
    font-size: 16px;
    letter-spacing: 7px;
    box-shadow: 0px 2px 10px 0px rgb(130,223,244);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(10, 10, 10);
    -webkit-text-fill-color: rgb(233, 232, 232);
    text-shadow: 1px 0px 5px rgb(27, 28, 28);
    transition: box-shadow 0.7s;
    

}
.form-control:focus{
    border:2px solid white;
    outline:0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.centeredCol{
    margin: 0 auto;
}

#advance{
    width: 199px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: #000;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 700;
    color: white; 
    letter-spacing: 5px;
    margin-top: 79px;
    position: relative;
    left: 39px;
    transition: all 0.2s;

}
#advance:focus{
    width: 199px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: rgb(46, 46, 46);
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 700;
    color: white; 
    letter-spacing: 5px;
    margin-top: 79px;
    position: relative;
    left: 39px;
    outline:none;

}

#advance:active{
    width: 199px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: rgb(46, 46, 46);
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 700;
    color: white; 
    letter-spacing: 5px;
    margin-top: 79px;
    position: relative;
    left: 39px;

}

#what{
    z-index: 1
}

#where{
    z-index: 1
}


.colmoveLeft{
    position: relative;
    right:50px;
}

.colmoveRight{
    position: relative;
    left:20px;
}

.googleIcon{
  width: 16px;
  position: relative;
  bottom:45px;
  left:366px;
  
}

.searchIcon{
    width: 18px;
    position: relative;
    bottom:45px;
    left:366px;  
}

#dtBasicExample{
    display:none;
    position: relative;
    top:220px;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    position: relative;
    top:200px;
    display:none

}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    position: absolute;
    top:200px;
    left:650px;
    display:none


}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    position: absolute;
    bottom:-250px;
    left:650px;
    display:none

}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    color:white;
    font-family:Helvetica;
    padding-top: 0.755em;
    position:relative;
    top:240px;
    display:none
}

.dataTables_wrapper {
    z-index:-1;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;

}

#map {
    height: 300px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin: 0 auto;
    position: relative;   
    bottom:-200px;
    
   }

   #mapContainer{
    position: relative;   
    top:200;
   }

   .copyRight{
    font-family: Helvetica-Light;
    font-size: 9px;
    color: #828282;
    letter-spacing: 3.72px;
    text-align: center;
    position: absolute;
    bottom:-250px;
    padding-left:200px;
    text-align: left;
    opacity: 0.6;
    background:transparent;
   }

   #brandLogo{
       cursor:pointer;
   }
   tr:first-child{
       display:none
      }

   tr:nth-child(2n+1){
       color:grey !important;
       border:2px solid blue
   }

   