

    

body {
    background-color:rgb(21, 20, 20);
    position: relative;
    overflow: hidden;
}
.backgroundImage {
    position: absolute;
    top:-4px;
    left:-8px;
    height: 100vh;
    min-width: 102vw;
    opacity: 0.2;
}

.sJaLogo{
    position: absolute; 
    top: 15px;
    left: 40px;
    height: 115px;
    width: 293px;
}

#inputs{
    position: absolute;
    top: 320px;
}

.firstP{
    font-size: 21px;
    font-family: Helvetica;
    color: white;
    font-weight: 600;
    letter-spacing: 8.4px;
    margin-bottom: 10px;

}

.secondP{
    font-family: Helvetica;
    font-weight: 200;
    font-size: 8px;
    color: #82DFF4;
    letter-spacing: 6.5px;


}

.form-control{
    background-color:#151414;
    color: white;
    text-align: center;
    width: 405px;
    height: 61px;
    font-size: 13px;
    letter-spacing: 7px;

}

.centeredCol{
    margin: 0 auto;
}

#advance{
    width: 199px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: #000;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 700;
    color: white; 
    letter-spacing: 5px;

}